<!-- <div class="bg-dark" style="padding:30px 0">
  <div class="container-fluid row text-white">
    <div class="col-md-6 text-right">
      <a href="#smiley-rapport">
        <img src="img/smiley-rapport.gif" alt="Smiley rapport">
      </a>
    </div>
    <div class="col-md-6">
      <span>TasteAmazon</span><br>
      <span>Valby Tingsted 6, st.</span><br>
      <span>2500 Valby</span><br>
      <span>CVR 37798452</span><br>
    </div>
    <div class="col-md-12 text-center" style="padding-top:20px">
      2016 © TasteAmazon. All Rights Reserved.
    </div>
  </div>
</div> -->
