<div class="text-center">
  {include file='pages/elements/hero.tpl'}
  <div class="container" style="padding: 30px 0;">
    <h2 class="text-uppercase">Vores lille magiske bærs vej til Danmark</h2>
    <div class="row">
      <div class="col-sm">
        <img width="40%" src="img/fp-proces/1.png" alt="Billede af træ">
        <h3>Oprindelse</h3>
        <p>Det lille mørke bær kaldet açai har sin oprindelse i det Nordlige Brasilien.</p>
      </div>
      <div class="col-sm">
        <img width="40%" src="img/fp-proces/2.png" alt="Billede af acaí bær">
        <h3>Høst</h3>
        <p>Açai-bærret vokser på palmer i klaser og høstes om efteråret.</p>
      </div>
      <div class="col-sm">
        <img width="40%" src="img/fp-proces/3.png" alt="Billede af containerskib der transporter acaí produkter">
        <h3>Proces</h3>
        <p>Bærret bliver pillet, pasteuriseret og nedfrosset til en puré.</p>
      </div>
      <div class="col-sm">
        <img width="40%" src="img/fp-proces/4.png" alt="Billede af produktet acaí">
        <h3>Produkt</h3>
        <p>Når det kommer til Danmark er det klar til spisning efter en tur i blenderen.</p>
      </div>
    </div>
    <button class="btn" type="button" style="border-radius: 200px;">Se mere</button>
  </div>
  {include file="pages/elements/products.tpl"}
  {include file="pages/elements/gallery.tpl"}
  {include file="pages/elements/recipes.tpl"}
  <div style="background-color: #9778D3; padding: 30px 0;">
    <div class="container" style="color:white;">
      <h2 class="text-uppercase">Om TasteAmazon</h2>
      <p>TasteAmazon startede efter en gruppe venner rejste til det nordlige Brasilien
        og blev introduceret til det lille mørke bær kaldet açai. Vennerne kunne mærke
        det sundes bærs næringsrige indhold alt imens de spiste det sammen med deres
        brasilianske værter. Efter at have besøgt en lokal açai fabrik så holdet bag
        TasteAmazon en unik mulighed for at importere og sælge açai-bærret i nedfrossen puré form.</p>
        <button class="btn" type="button" style="border-radius: 200px;">Læs mere</button>
    </div>
  </div>
  <div style="padding: 30px 0;">
    <div class="container">
      <h2 class="text-uppercase">Lad os komme i kontakt!</h2>
      <p>Interesseret i at spise dette sunde og lækre produkt? Skriv eller ring til os og find ud af hvordan du kan få fingrene i det!</p>
      <div class="row m-auto" style="width:50%;">
        <div class="col-md border-bottom">
          <img src="img/icons/phone.png" width="40px" height="auto" alt="">
          <p>+45 53 35 55 98</p>
        </div>
        <div class="col-md border-bottom">
          <img src="img/icons/mail.png" width="40px" height="auto" alt="">
          <p>info@tasteamazon.com</p>
        </div>
      </div>
      <div class="row m-auto" style="width:60%; padding-top: 15px;">
        <div class="col-md-8">
          <h4 class="text-uppercase">Følg os her og bliv inspireret</h4>
        </div>
        <div class="col-md-1">
          <img src="img/icons/facebook.png" width="50px" height="auto" alt="">
        </div>
        <div class="col-md-1">
          <img src="img/icons/instagram.png" width="50px" height="auto" alt="">
        </div>
        <div class="col-md-1">
          <img src="img/icons/youtube.png" width="50px" height="auto" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
