<div id="add_picture">
  <h4>Opret billede</h4>
  <div class="form-group">
    <small for="title" class="form-text text-muted">Titel</small>
    <input type="text" name="title" class="form-control">
  </div>
  <div class="form-group">
    <small for="image" class="form-text text-muted">Billede</small>
    <input type="file" name="image" class="form-control">
  </div>
</div>
<button class="btn" type="button" style="border-radius: 200px;" onclick="Gallery.add()">Tilføj billede</button>
