<div class="container">
  <div class="col-md-12">
    <img src="img/hero_logo.png" width="50%" height="auto" alt="Larger logo of TasteAmazon">
  </div>
</div>
<!-- <div class="col-md-12">
  <img src="img/hero.png" width="100%" height="auto" alt="Hero image for TasteAmazon">
</div> -->
