<div style="background-color: #F6F6F4; padding: 30px 0;">
  <div class="container">
    <h2 class="text-uppercase">Acai bær kan bruges i mange opskrifter</h2>
    <div class="row">
      <div class="col-md">
        <img class="rounded-circle border border-dark" src="img/recipes/acai-1.jpg" width="290px" height="290px" alt="Produkt 1">
        <h3>Acai skål med banan</h3>
      </div>
    </div>
  </div>
</div>
